.title-container {
  display: flex;
  flex-direction: column;
  background: url("../assets/home.png");
  width: 80%;
  margin: 0 auto;
  height: 50vh;
  .centered {
    font-size: 5rem;
  }
  .btn {
    background-color: white;

    font-size: 16px;
    padding: 12px 24px;
  }
}
.artists-container {
  display: flex;
  justify-content: space-evenly;

  img {
    border-radius: 0.5rem;
  }

  .artist {
    margin: 3rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .artist2 {
      img {
        width: 100%;
        margin-top: -7.1rem;
        border-radius: 0.5rem;
      }
    }

    img {
      width: 100%;
    }
  }
}
