.title-mixin {
  width: 80%;
  margin: 0 auto;
  height: 60vh;
  color: white;
}
.centered-mixin {
  text-align: center;
  width: 20rem;
  font-size: 5rem;
}
html {
  font-size: 62.5%;
  /*62.5% means that 10px = 1 rem */
}
.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../assets/home.png");
  width: 80%;
  margin: 0 auto;
  height: 60vh;
  color: white;
}
@media (max-width: 500px) {
  .title-container {
    width: 90%;
  }
}
.title-container .centered {
  text-align: center;
  width: 20rem;
  font-size: 5rem;
}
.title-container button {
  background-color: white;
  width: 20rem;
  font-size: 16px;
  padding: 12px 24px;
}
.artists-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 500px) {
  .artists-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.artists-container img:hover {
  opacity: 0.5;
}
.artists-container .artist {
  margin: 2rem 4rem 2rem 4rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 500px) {
  .artists-container .artist {
    width: 90%;
  }
}
.artists-container .artist a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  margin: 2rem 0 2rem 0;
}
.artists-container .artist .bio {
  font-size: 1.5rem;
}
.artists-container .artist img {
  border-radius: 0.5rem;
  width: 100%;
}
